### **Перевірка даних на нормальність за допомогою критерію Шапіра-Уілка**

 

1.   Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import binom
%matplotlib inline

n=20
p2=0.5

n1=abs(np.random.normal(1, 12, n))
n2=abs(np.random.normal(3, 6, n))
n3=abs(np.random.normal(2, 100, n))
b1=binom.rvs(17, p=0.7, loc=0, size=n)
b2=binom.rvs(100, p2, loc=0, size=n)
p=np.random.poisson(5,20)


data=pd.DataFrame()
data['normal1']=n1
data['normal']=n2
data['normal3']=n3
data['binomial1']=b1
data['binomial2']=b2
data['poisson']=p

In [2]:
data

      normal1     normal     normal3  binomial1  binomial2  poisson
0   11.463767   5.503970   68.255263         12         57        7
1    5.886868   1.936106   16.750922         12         42        5
2    7.732423   5.376572  274.035467          9         45        4
3    6.098779   1.548815   27.034616         15         49        4
4    0.650978   5.127620   38.219164          7         51        2
5   13.971860   0.012268   18.201442         12         54        4
6   11.063424   6.220677   57.654568         16         50        5
7   22.909302  16.434087   29.372896         11         54        7
8    1.432462   4.860314  196.086990         13         56        9
9   27.918714   3.021741   43.125362          6         53        1
10   0.952081   1.337811   88.160949         14         50        1
11   4.063299   0.060587   78.837699         11         54        3
12   4.964761   8.289363   44.550378         11         47        6
13  12.846312   0.749718   27.351143         10         49        3
14   6.802431   3.472085   64.944640         13         45        3
15   3.092995   2.328511    0.278180         15         56        5
16  17.056026   0.585148    3.684159         12         48        3
17   9.044918   0.739442   11.225064         13         55        3
18  10.449531   9.128009  115.817253         12         49        6
19   8.482802   4.038371    8.220017         10         45        3

2.   Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних.
Детальний опис роботи критерію та приклад його розрахунку:
https://pdfs.semanticscholar.org/e4a7/42a4f0585b4e4069726f6628f4d4285a0827.pdf

In [3]:
def shap(m):
    a=[0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.014]
    
    m.sort()
    ss=0
    xs=0
    w=0
    sum1=0
    sum2=0

    for i in range(0,20):
        sum1+=m[i]
    xs=sum1/20
    
    for i in range(0,20):
        ss+=(m[i]-xs)**2
    
    for i in range(0, 10):
        sum2+=a[i]*(m[19-i]-m[i])
    w=sum2**2/ss
    
    print("w(variable)= ", w)

In [4]:
shap(n1)
shap(n2)
shap(n3)
shap(b1)
shap(b2)
shap(p)

w(variable)=  0.9097528338021963
w(variable)=  0.8426198421852602
w(variable)=  0.7598563920673768
w(variable)=  0.956434512562396
w(variable)=  0.9533579947879978
w(variable)=  0.949667314778325

In [5]:
import scipy.stats as stats
d=stats.shapiro(n2)
print(d)

(0.8426315188407898, 0.004021274391561747)

3. Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. Назва стовпчиків - Variable, Statistics, Distribution.
Шаблон таблиці:
https://drive.google.com/file/d/1gRNsk9UDhl_6GGkJ04q0cBWBgsJvTgI4/view?usp=sharing

In [6]:
from prettytable import PrettyTable

x=PrettyTable()

x.field_names=["Variable", "Statistics", "Distribution"]

x.add_row([" ", " ", " "])
x.add_row([" ", " ", " "])
x.add_row([" ", " ", " "])
x.add_row([" ", " ", " "])
x.add_row([" ", " ", " "])
x.add_row([" ", " ", " "])

print(x)

+----------+------------+--------------+
| Variable | Statistics | Distribution |
+----------+------------+--------------+
|          |            |              |
|          |            |              |
|          |            |              |
|          |            |              |
|          |            |              |
|          |            |              |
+----------+------------+--------------+

4. Занести в стовпчик Variable назви змінних.

In [7]:
x=PrettyTable()

x.field_names=["Variable", "Statistics", "Distribution"]

x.add_row(["n1", " ", " "])
x.add_row(["n2", " ", " "])
x.add_row(["n3", " ", " "])
x.add_row(["b1", " ", " "])
x.add_row(["b2", " ", " "])
x.add_row(["p", " ", " "])

print(x)

+----------+------------+--------------+
| Variable | Statistics | Distribution |
+----------+------------+--------------+
|    n1    |            |              |
|    n2    |            |              |
|    n3    |            |              |
|    b1    |            |              |
|    b2    |            |              |
|    p     |            |              |
+----------+------------+--------------+

5. Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal".

In [8]:
x=PrettyTable()

x.field_names=["Variable", "Statistics", "Distribution"]

x.add_row(["n1", " ", "normal 0.9165440337934687"])
x.add_row(["n2", " ", "normal 0.9657018001524992"])
x.add_row(["n3", " ", "normal 0.9092139577292566"])
x.add_row(["b1", " ", "non-normal 0.9427762285714284"])
x.add_row(["b2", " ", "non-normal  0.9460447397506367"])
x.add_row(["p", " ", "non-normal 0.8713910699083861 "])

print(x)

+----------+------------+--------------------------------+
| Variable | Statistics |          Distribution          |
+----------+------------+--------------------------------+
|    n1    |            |   normal 0.9165440337934687    |
|    n2    |            |   normal 0.9657018001524992    |
|    n3    |            |   normal 0.9092139577292566    |
|    b1    |            | non-normal 0.9427762285714284  |
|    b2    |            | non-normal  0.9460447397506367 |
|    p     |            | non-normal 0.8713910699083861  |
+----------+------------+--------------------------------+

6. Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення].

In [9]:
def normal(t):
    
    SUM=0
    xS=0
    sd=0
    sS=0
    
    for i in range(0,20):
        SUM+=t[i]
    xS=SUM/20
    
    for i in range(0,20):
        sS+=(t[i]-xS)**2
    sd=(sS/20)**(0.5)
    
    print(xS)
    print(sd)

In [10]:
normal(n1)
normal(n2)
normal(n3)

9.34418661618472
6.920849402821637
4.038560757040408
3.8473098356666746
60.59030864522314
66.40403233267357

In [11]:
x=PrettyTable()

x.field_names=["Variable", "Statistics", "Distribution"]

x.add_row(["n1", "9.831128527995801, [6.144434242626973]", "normal 0.9165440337934687"])
x.add_row(["n2", "5.097140902679359, [3.124054866519493]", "normal 0.9657018001524992"])
x.add_row(["n3", "73.43321478755448, [49.41642537079125]", "normal 0.9092139577292566"])
x.add_row(["b1", " ", "non-normal 0.9427762285714284"])
x.add_row(["b2", " ", "non-normal  0.9460447397506367"])
x.add_row(["p", " ", "non-normal 0.8713910699083861 "])

print(x)

+----------+----------------------------------------+--------------------------------+
| Variable |               Statistics               |          Distribution          |
+----------+----------------------------------------+--------------------------------+
|    n1    | 9.831128527995801, [6.144434242626973] |   normal 0.9165440337934687    |
|    n2    | 5.097140902679359, [3.124054866519493] |   normal 0.9657018001524992    |
|    n3    | 73.43321478755448, [49.41642537079125] |   normal 0.9092139577292566    |
|    b1    |                                        | non-normal 0.9427762285714284  |
|    b2    |                                        | non-normal  0.9460447397506367 |
|    p     |                                        | non-normal 0.8713910699083861  |
+----------+----------------------------------------+--------------------------------+

7. Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].

In [12]:
def med(q):
    q.sort()
    N=len(q)
    
    if n%2==0:
        median1=q[N//2]
        median2=q[N//2-1]
        median=(median1+median2)/2
    else:
        median=q[n//2]
      
    q25, q75=np.percentile(q, [25,75])
    print(median, q25, q75)

In [13]:
med(b1)
med(b2)
med(p)

12.0 10.75 13.0
50.0 47.75 54.0
4.0 3.0 5.25

In [14]:
x=PrettyTable()

x.field_names=["Variable", "Statistics", "Distribution"]

x.add_row(["n1", "9.831128527995801, [6.144434242626973]", "normal 0.9165440337934687"])
x.add_row(["n2", "5.097140902679359, [3.124054866519493]", "normal 0.9657018001524992"])
x.add_row(["n3", "73.43321478755448, [49.41642537079125]", "normal 0.9092139577292566"])
x.add_row(["b1", "12.0 [11.0; 14.0]", "non-normal 0.9427762285714284"])
x.add_row(["b2", "49.0 [45.0; 50.25]", "non-normal  0.9460447397506367"])
x.add_row(["p", "4.5 [3.0; 6.0]", "non-normal 0.8713910699083861 "])

print(x)

+----------+----------------------------------------+--------------------------------+
| Variable |               Statistics               |          Distribution          |
+----------+----------------------------------------+--------------------------------+
|    n1    | 9.831128527995801, [6.144434242626973] |   normal 0.9165440337934687    |
|    n2    | 5.097140902679359, [3.124054866519493] |   normal 0.9657018001524992    |
|    n3    | 73.43321478755448, [49.41642537079125] |   normal 0.9092139577292566    |
|    b1    |           12.0 [11.0; 14.0]            | non-normal 0.9427762285714284  |
|    b2    |           49.0 [45.0; 50.25]           | non-normal  0.9460447397506367 |
|    p     |             4.5 [3.0; 6.0]             | non-normal 0.8713910699083861  |
+----------+----------------------------------------+--------------------------------+

8. Зберегти таблицю в пдф форматі

In [19]:
import weasyprint

In [20]:
variable=["n1", "n2", "n3", "b1", "b2", "p"]
statistics=["9.831128527995801, [6.144434242626973]","5.097140902679359, [3.124054866519493]", "73.43321478755448, [49.41642537079125]", "12.0 [11.0; 14.0]", "49.0 [45.0; 50.25]", "4.5 [3.0; 6.0]"]
distribution=["normal 0.9165440337934687", "normal 0.9657018001524992", "normal 0.9092139577292566 ", "non-normal 0.9427762285714284", "non-normal  0.9460447397506367", "non-normal 0.8713910699083861"]

df=pd.DataFrame()
df['variable']=variable
df['statistics']=statistics
df['distribution']=distribution

In [21]:
df

,variable,statistics,distribution
0,n1,"9.831128527995801, [6.144434242626973]",normal 0.9165440337934687
1,n2,"5.097140902679359, [3.124054866519493]",normal 0.9657018001524992
2,n3,"73.43321478755448, [49.41642537079125]",normal 0.9092139577292566
3,b1,12.0 [11.0; 14.0],non-normal 0.9427762285714284
4,b2,49.0 [45.0; 50.25],non-normal 0.9460447397506367
5,p,4.5 [3.0; 6.0],non-normal 0.8713910699083861

In [45]:
html1 = '''
<html>
<head>
<style>
  h2 {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
  }
  
  table { 
    margin-left: auto;
    margin-right: auto;
  }
  
  table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
    font-family: cursive;
    font-size: 90%;
  }
  
  table tbody tr:hover {
    background-color: #F9EBEA;
  }
  
  .wide {
    width: 80%; 
  }
  
</style>
</head>
<body>
'''

html2 = '''
</body>
</html>
'''

intermediate_html = 'intermediate.html'
df.to_html(intermediate_html)

txt = ''
txt += '<h2> %s </h2>\n' % 'BMD Laba 4'
txt += df.to_html(classes='wide', escape=False)
with open(intermediate_html, 'w') as f:
         f.write(html1 + txt + html2)

out_pdf= 'Laba4.pdf'
weasyprint.HTML(intermediate_html).write_pdf(out_pdf)